@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #96a6b4;
  background-image: url(file:///C:/Users/valen/Downloads/pexels-henry-&-co-2341290.jpg);
  background-attachment: fixed;
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h2, h3 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: large;
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 5px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "navbar1" "main" "footer";
}

.navbar1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar1;
  font-family: 'Roboto', sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar1 .navbar {
  background-color: white;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.introductionSection {
  font-family: 'Playfair Display', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 450px;
}

.introductionSection .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px;
  margin: 20px;
  border: solid black 3px;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png);
  border-radius: 50%;
  border-style: none;
  font-size: 2rem;
  color: black;
}

.introductionSection .introduction .mainHeading {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.introductionSection .introduction .slogan {
  font-size: 20px;
  font-weight: 600;
}

.ourBrandsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.ourBrandsSection .ourBrands {
  padding: 15px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png);
}

.ourBrandsSection .imgs {
  background-image: url(file:///C:/Users/valen/Desktop/proyecSm/img/fondo3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.ourBrandsSection .imgs .brand {
  margin: 10px;
  width: 300px;
  height: 300px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: white;
}

.ourBrandsSection .imgs .brand:hover {
  width: 400px;
  height: 400px;
}

.someProductsSection {
  height: auto;
}

.someProductsSection .someProducts {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
}

.someProductsSection .productsImages {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.someProductsSection .productsImages .products {
  margin: 1rem;
  width: 270px;
  height: 600px;
  -webkit-box-shadow: 2px 2px 20px #333;
          box-shadow: 2px 2px 20px #333;
}

.locationSection .location {
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  font-size: 20px;
  background-color: white;
}

.locationSection .mapContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/leaves-pattern.png);
}

.locationSection .mapContainer .map {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  height: 10rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  margin-bottom: 0;
  background-color: whitesmoke;
}

.footer .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem;
}

.footer .footerIcons .iconosFooter {
  width: 35px;
  height: 35px;
}

@media (min-width: 768px) {
  .mainLogo {
    margin-left: 40px;
    margin-bottom: 30px;
  }
  .list-nav {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}

@media (min-width: 1024px) {
  .brand {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .brand:hover {
    width: 300px;
    height: 300px;
  }
  .map {
    height: 50vh;
    width: 60vw;
  }
}

* {
  padding: 0;
  margin: 0;
}

.ourProductsText {
  background-image: url(file:///C:/Users/valen/Desktop/proyecSm/img/fondo2.jpg);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  text-transform: uppercase;
}

.ourProductsText .productsText {
  font-weight: bold;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  background-color: white;
}

.imagenes-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.imagenes-productos .fotos-productos {
  width: 20rem;
  height: auto;
  -webkit-box-shadow: 2px 2px 20px #333;
          box-shadow: 2px 2px 20px #333;
}

* {
  padding: 0;
  margin: 0;
}

.all-about {
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.all-about .text-allAbout {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #de6b9a;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4rem 0rem 4rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-about .text-allAbout .h1-allabout {
  font-size: 3rem;
}

.all-about .paragraph-allAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0rem 15rem 0rem 15rem;
}

.paragraph-container {
  margin: 2rem 0rem 2rem 0rem;
  font-size: 1rem;
  text-align: center;
}

.paragraph-container .paragraph {
  padding: 2rem;
  border-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.856);
  -webkit-box-shadow: 2px 2px 20px #333;
          box-shadow: 2px 2px 20px #333;
}

.aboutUs-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs-photos .owner-photo {
  width: 25rem;
  height: 25rem;
  width: 25rem;
  height: 25rem;
  -webkit-box-shadow: 2px 2px 20px #333;
          box-shadow: 2px 2px 20px #333;
  border-radius: 25%;
}

@media (min-width: 768px) {
  .mainLogo {
    margin-left: 40px;
    margin-bottom: 30px;
  }
  .list-nav {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}

* {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .mainLogo {
    margin-left: 40px;
    margin-bottom: 30px;
  }
  .list-nav {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}

* {
  padding: 0;
  margin: 0;
}

.descuento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30rem;
  background-image: url(file:///C:/Users/valen/Desktop/proyecSm/img/fondo3.jpg);
  padding-top: 10rem;
}

.descuento .presentación-promociones {
  font-size: large;
  background-color: white;
  padding: 1rem;
  border-radius: 10rem;
}

.descuento .descuento-general {
  padding: 1rem;
  font-weight: bold;
  background-color: white;
  font-size: large;
  border-radius: 10rem;
}

.imagenes-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.imagenes-productos .fotos-productos {
  width: 20rem;
  height: auto;
  -webkit-box-shadow: 2px 2px 20px #333;
          box-shadow: 2px 2px 20px #333;
}

.productos-con-descuento {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  text-align: center;
  padding: 1rem;
}
