@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
}

.h2-index {
  font-size: 1.5rem;
  font-family: "Playfair Display", sans-serif;
  font-weight: 550;
  letter-spacing: 2px;
  margin: 0;
}

body {
  background-color: #96a6b4;
  background-image: url();
  background-attachment: fixed;
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "navbar1" "main" "footer";
}

.navbar1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar1;
  font-family: 'Roboto', sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar1 .navbar {
  background-color: white;
}

.logodesm {
  width: 150px;
  height: 150px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.main-index {
  background-image: url(https://images.pexels.com/photos/4041276/pexels-photo-4041276.jpeg);
  background-repeat: repeat;
  background-attachment: fixed;
}

.nav-item:hover {
  text-decoration: underline;
}

.introductionSection {
  font-family: 'Playfair Display', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28.125rem;
}

.introductionSection .introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px;
  margin: 20px;
  color: white;
}

.introductionSection .introduction .mainHeading {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.introductionSection .introduction .slogan {
  font-size: 20px;
  font-weight: 600;
}

.ourBrandsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: repeat;
}

.ourBrandsSection .ourBrands {
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.imgs {
  background-color: rgba(255, 255, 255, 0.651);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imgs .brand {
  margin: 5rem 0rem 5rem 0rem;
  width: 20%;
  height: 20%;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: white;
}

@media (min-width: 1440px) {
  .imgs .brand {
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 1024px) {
  .imgs .brand:hover {
    width: 25%;
    height: 25%;
  }
}

@media (min-width: 1440px) {
  .imgs .brand:hover {
    width: 15%;
    height: 15%;
  }
}

.someProductsSection {
  height: auto;
}

.someProductsSection .someProducts {
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.carousel-container-index {
  margin: 1rem 0rem 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1280px) {
  .carousel-container-index .carousel {
    width: 1280px;
  }
}

.footer {
  height: 10rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  margin-bottom: 0;
  background-color: whitesmoke;
}

.footer .footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem;
}

.footer .footerIcons .iconosFooter {
  width: 35px;
  height: 35px;
}

.main-productos {
  background-image: url(https://images.pexels.com/photos/7290715/pexels-photo-7290715.jpeg);
  text-align: center;
}

.textProductsContainer {
  height: 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Playfair Display', sans-serif;
}

.textProductsContainer .h1-productos {
  color: #a3371b;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: 1050px) {
  .textProductsContainer .h1-productos {
    font-size: 3rem;
  }
}

.aclaración-container .aclaraciónProductos {
  color: #a3371b;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.815);
  padding: 2rem;
  font-family: 'Playfair Display', sans-serif;
}

@media (min-width: 1050px) {
  .aclaración-container .aclaraciónProductos {
    font-size: 1.5rem;
  }
}

.iconoWppProductos {
  height: 5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.815);
  border-radius: 0.5rem;
}

.imagenes-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.imagenes-productos .card {
  -webkit-box-shadow: 0px 10px 10px;
          box-shadow: 0px 10px 10px;
  margin-top: 2rem;
}

.main-acerca {
  background-image: url(https://images.pexels.com/photos/1910231/pexels-photo-1910231.jpeg);
}

.main-acerca .acerca {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
}

.main-acerca .acerca .container-h1acerca {
  height: 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d64a4a;
  text-transform: uppercase;
}

.main-acerca .acerca .container-descripción-acerca {
  color: black;
  background-color: rgba(255, 255, 255, 0.671);
}

.main-acerca .acerca .container-foto {
  margin: 10rem 0rem 10rem 0rem;
}

.h1-acerca, .p-acerca {
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.p-acerca {
  padding: 1rem;
  color: black;
  letter-spacing: 1px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .p-acerca {
    font-size: larger;
  }
}

.a-acerca {
  color: #d64a4a;
}

.foto-vys {
  width: 300px;
  -webkit-box-shadow: 10px 20px 10px #d64a4a;
          box-shadow: 10px 20px 10px #d64a4a;
}

@media (min-width: 600px) {
  .foto-vys {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .foto-vys {
    width: 900px;
  }
}

.figcaption-acerca {
  color: white;
}

.containerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .containerContact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form {
  background-image: url(https://education.trilogic.eus/wp-content/uploads/sites/3/2018/04/fondo-contacto1.jpg);
  background-repeat: no-repeat;
}

.form .formulario {
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 1rem;
}

.form .contact-us {
  font-family: 'Playfair Display', sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #dddddd;
  padding: 2rem;
}

.promociones-section {
  text-align: center;
  background-image: url(https://images.pexels.com/photos/5705102/pexels-photo-5705102.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
}

.promociones-section .h1-container {
  height: 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promociones-section .h1-container .h1-promociones {
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Playfair Display', sans-serif;
  color: #c09725;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 5rem;
  padding: 2rem;
  margin: 0rem 1rem 0rem 1rem;
}

.promociones-section .descripción-promociones {
  color: #c09725;
}

.promociones-section .pagos-container {
  font-family: 'Playfair Display', sans-serif;
  color: beige;
  background-color: rgba(0, 0, 0, 0.432);
  padding: 1rem;
}

.p-promociones {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.432);
  padding: 1rem;
}

@media (min-width: 768px) {
  .p-promociones {
    font-size: larger;
  }
}

@media (min-width: 1024px) {
  .p-promociones {
    font-size: x-large;
    font-weight: bold;
  }
}

.métodosdepago-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: beige;
}

.métodosdepago-container .figure-promociones {
  margin: 4rem 0rem 4rem 0rem;
  font-weight: 500;
}

.métodosdepago-container .figure-promociones .métodosdepago {
  width: 90px;
}

.métodosdepago-container .figure-promociones .figcaption-promociones {
  color: white;
  font-size: large;
}
