@import "../abstracts/variables";

.main-acerca{
    background-image: url(https://images.pexels.com/photos/1910231/pexels-photo-1910231.jpeg);
    .acerca{
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
        .container-h1acerca{
            height: 28.125rem;
            display: flex;
            justify-content: center;
            color: rgb(214, 74, 74);
            text-transform: uppercase;
        }
        .container-descripción-acerca{
            color: black;
            background-color: rgba(255, 255, 255, 0.671);
        }
        .container-foto{
            margin: 10rem 0rem 10rem 0rem;
        }
    }
}

.h1-acerca, .p-acerca{
    margin: 0;
    align-self: center;
}
.p-acerca{
    padding: 1rem;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    @media(min-width: 600px){
        font-size: larger;
    }
}
.a-acerca{
    color: rgb(214, 74, 74);
}
.foto-vys{
    width: 300px;
    box-shadow: 10px 20px 10px rgb(214, 74, 74);
    @media(min-width: 600px){
        width: 500px;
    }
    @media(min-width: 1200px){
        width: 900px;
    }
}
.figcaption-acerca{
    color: white;
}