@import "../abstracts/variables";

*{
    padding: 0;  
    margin: 0;
}

.all-about{
    height: auto;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/repeated-square-dark.png);
    background-color: black;
    flex-wrap: wrap;
    .text-allAbout{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: rgb(222, 107, 154);
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 4rem 0rem 4rem 0rem;
        display: flex;
        justify-content: center;
        .h1-allabout{
            font-size: 3rem;
        }
        }
    .paragraph-allAbout{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0rem 15rem 0rem 15rem;
    }
}

.paragraph-container{
    margin: 2rem 0rem 2rem 0rem;
    font-size: 1.2rem;
    text-align: center;
    .paragraph{
        color: rgb(222, 107, 154);
        padding: 2rem;
        border-radius: 10rem;
        background-color: rgba(0, 0, 0, 0.856);
        box-shadow: 2px 2px 15px rgb(255, 255, 255);
    }
}

.aboutUs-photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .owner-photo{
        @include sizes(25rem, 25rem);
        width: 25rem;
        height: 25rem;
        box-shadow: 2px 2px 20px #333;
        border-radius: 25%;
    }
}



@media (min-width: 768px){
    .mainLogo{
        margin-left: 40px;
        margin-bottom: 30px;
    }
    .list-nav{
        margin-bottom: 0px;
        margin-right: 15px;
    }
}

