@import "../abstracts/variables";

*{
    padding: 0;  
    margin: 0;
}

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

.h2-index{
    font-size: $h2-h3-fontsize;
    font-family: $h2-h3-fonts;
    font-weight: 550;
    letter-spacing: 2px;
    margin: 0
}

body{
    background-color: $grey;
    background-image: url();
    background-attachment: fixed;
    font-family: $body-font;
    flex-direction: column;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "navbar1"
    "main"
    "footer";
}

.navbar1{
    grid-area: navbar1;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    .navbar{
        background-color: rgb(255, 255, 255);
    }
}

.logodesm{
    width: 150px;
    height: 150px;
}

.main{
    grid-area: main;
}

.main-index{
    background-image: url(https://images.pexels.com/photos/4041276/pexels-photo-4041276.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
}

.nav-item:hover{
    text-decoration: underline;
}

.introductionSection{
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28.125rem;
    .introduction{
        display: flex;
        flex-direction: column;
        padding: 45px;
        margin: 20px;
        color: rgb(255, 255, 255);
        .mainHeading{
            font-weight: map-get($stylesMainHeading, negrita);
            text-transform: map-get($stylesMainHeading, mayus);
            text-align: map-get($stylesMainHeading , ubicación);
            margin-bottom: map-get($stylesMainHeading , bottommargin);
        }
        .slogan{
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.ourBrandsSection{
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    .ourBrands{
        background-color: white;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
    }
}
.imgs{
    background-color: rgba(255, 255, 255, 0.651);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .brand{
        margin: 5rem 0rem 5rem 0rem;
        @include sizes(20%, 20%);
        transition: all 1s;
        background-color: white;
        @media(min-width: 1440px){
            @include sizes(10%, 10%)
        }
    }
    .brand:hover{
        @media(min-width: 1024px){
            @include sizes(25%, 25%);    
        }
        @media (min-width: 1440px){
            @include sizes(15%, 15%)
        }
    }
}

.someProductsSection{
    height: auto;
    .someProducts{
        background-color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
    }
}

.carousel-container-index{
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    justify-content: center;
    .carousel{
        @media(min-width:1280px){
            width: 1280px;
        }
    }
}

.footer{
    height: 10rem;
    grid-area: footer;
    margin-bottom: 0;
    background-color: rgb(245, 245, 245);
    .footerIcons{
        display: flex;
        align-self: center;
        justify-content: space-around;
        padding: 4rem;
        .iconosFooter{
            width: 35px;
            height: 35px;
        }
    }
}




