@import "../abstracts/variables";

*{
    padding: 0;  
    margin: 0;
}

.bg-ourproducts{
    background-image: url(file:///C:/Users/valen/Desktop/proyecSm/img/fondo-someproducts.jpg);
    background-attachment: fixed;
}

.ourProductsText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    text-transform: uppercase;
    .productsText{
        font-weight: bold;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 100px;
        background-color: rgb(255, 255, 255);
    }
}
.imagenes-productos{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 2rem;
    .fotos-productos{
        width: 20rem;
        height: auto;
        box-shadow: 2px 2px 20px #333;
        margin: 1rem 0rem 1rem 0rem;
    }
}






