@import "../abstracts/variables";

*{
    padding: 0;  
    margin: 0;
}

.descuento{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    background-image: url(file:///C:/Users/valen/Desktop/proyecSm/img/fondo3.jpg);
    padding-top: 10rem;
    .presentación-promociones{
        font-size: large;
        background-color: white;
        padding: 1rem;
        border-radius: 10rem;
    }
    .descuento-general{
        padding: 1rem;
        font-weight: bold;
        background-color: white;
        font-size: large;
        border-radius: 10rem;
    }
}

.imagenes-productos{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    .fotos-productos{
        width: 20rem;
        height: auto;
        box-shadow: 2px 2px 20px #333;
    }
}
.productos-con-descuento{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 1rem;
}

